{% extends "templates/base.html" %}
{% block title %}| Edit Employee {% endblock %}
{% block content %}

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<div class="row">
			<form class="col-12">
				<div class="row">
					<label class="col-3">Employee</label>
					<select name="pk" class="col-6" onchange="this.form.submit()">
						<option value="">--Select--</option>
						{%for emp in employees%}
						{% if employee  and emp.pk == employee.pk %}
						<option selected="selected" value="{{ employee.pk }}">{{ emp.name }} ({{ emp.username }})</option>
						{% else %}
						<option value="{{ emp.pk }}">{{ emp.name }} ({{ emp.username }})</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</div>
	<div class="col-3"></div>
</div>

{% if employee %}
<div class="row">
	{% load static %}
	<div class="col-3"></div>
	<div class="col-6">
		<div class="row">
			<form action="/home/editEmployee/" enctype="multipart/form-data" method="post" class="col-12">
				{% csrf_token %}
				<input type="hidden" name="pk" value="{{ employee.pk }}" />
				<div class="row">
					<label class="col-3"></label>
					<div class="col-6">
						<img src="{{ employee.photoUrl }}" alt="Photo" />
					</div>
				</div>
				<div class="row">
					<div class="col-3"></div>
					<input type="file" name="photo" accept="image/*" class="col-6" />
				</div>
				<div class="row">
					<label class="col-3">Active</label>
					{% if employee.isActive %}
					<input type="checkbox" name="isActive" checked/>
					{% else %}
					<input type="checkbox" name="isActive"/>
					{% endif %}
				</div>
				<div class="row">
					<label class="col-3">Code</label>
					<input type="text" name="code" class="col-6" value= "{{ employee.code }}" />
				</div>
				<div class="row">
					<label class="col-3">Name</label>
					<input type="text" name="name" class="col-6" value="{{ employee.name }}" />
				</div>
				<div class="row">
					<label class="col-3">Email</label>
					<input type="text" name="email" class="col-6" value="{{ employee.email }}" />
				</div>
				<div class="row">
					<label class="col-3">Username</label>
					<input type="text" name="username" class="col-6" value="{{ employee.username }}" />
				</div>
				<div class="row">
					<label class="col-3">Father's Name</label>
					<input type="text" name="fatherName" class="col-6" value="{{ employee.fatherName }}" />
				</div>
				<div class="row">
					<label class="col-3">Address</label>
					<input type="text" name="address" class="col-6" value="{{ employee.address }}" />
				</div>
				<div class="row">
					<label class="col-3">Phone</label>
					<input type="text" name="phone" class="col-6" value="{{ employee.phone }}" />
				</div>
				<div class="row">
					<label class="col-3">Mobile</label>
					<input type="text" name="mobile" class="col-6" value="{{ employee.mobile }}" />
				</div>
				<div class="row">
					<label class="col-3">CNIC</label>
					<input type="text" name="cnic" class="col-6" value="{{ employee.cnic }}" />
				</div>
				<div class="row">
					<label class="col-3">Date of Birth</label>
					<input type="date" name="dob" class="col-6" value="{{ employee.dob|date:"Y-m-d" }}" />
				</div>
				<div class="row">
					<label class="col-3">Joining Date</label>
					<input type="date" name="joinDate" class="col-6" value="{{ employee.joinDate|date:"Y-m-d" }}" />
				</div>
				<div class="row">
					<label class="col-3">Department</label>
					<select class="col-6" name="dept">
						<option value="0">--Select--</option>
						{% for dept in departments %}
							{% if dept ==  employee.currentDept %}
								<option selected="selected" value="{{ dept.pk }}">{{ dept.name }}</option>
							{% else %}
								<option value="{{ dept.pk }}">{{ dept.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="row">
					<label class="col-3">Weekend</label>
					<select class="col-6" name="weekend">
						<option value="0">--Select--</option>
						{% for we in weekends %}
						{% if we == employee.currentWeekend %}
						<option selected="selected" value="{{ we.pk }}">{{ we.name }}</option>
						{% else %}
						<option value="{{ we.pk }}">{{ we.name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="row">
					<label class="col-3">Shift</label>
					<select class="col-6" name="shift">
						<option value="0">--Select--</option>
						{% for shift in shifts %}
						{% if shift == employee.currentShift %}
						<option selected="selected" value="{{ shift.pk }}">{{ shift.name }}</option>
						{% else %}
						<option value="{{ shift.pk }}">{{ shift.name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="row">
					<label class="col-3">Designation</label>
					<select class="col-6" name="designation">
						<option value="0">--Select--</option>
						{% for desig in designations %}
						{% if desig.pk == employee.desig.pk %}
						<option selected="selected" value="{{ desig.pk }}">{{ desig.title }}</option>
						{% else %}
						<option value="{{ desig.pk }}">{{ desig.title }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="row">
					<label class="col-3">Type</label>
					<select class="col-6" name="type">
						<option value="0">--Select--</option>
						{% for type in types %}
						{% if type.pk == employee.type.pk %}
						<option selected="selected" value="{{ type.pk }}">{{ type.type }}</option>
						{% else %}
						<option value="{{ type.pk }}">{{ type.type }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="row">
					<div class="col-3"></div>
					<input type="submit" name="submit" value="Edit" class="col-6" />
				</div>
			</form>
		</div>
	</div>
	<div class="col-3"></div>
</div>
{% endif %}

{% endblock %}