{% extends "templates/base.html" %}
{% block title %}| Edit Employee {% endblock %}
{% block content %}

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<div class="row">
			<form class="col-12">
				<div class="row">
					<label class="col-3">Employee</label>
					<select class="col-6" onchange="this.form.submit()">
						{%for employee in employees%}
						<option>{{ employee.name }} ({{ employee.username }})</option>
						{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</div>
	<div class="col-3"></div>
</div>

{% block edit_employee %} {% endblock %}

{% endblock %}