{% extends "base.html" %}
{% block title %} | home {% endblock %}
{% block content %}
{% if user %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row box">
				<div class="col-3">
					<img class="box-shadow-green" src="{{ user.photoUrl }}" alt="Photo" />
				</div>
				<div class="col-9">
					<div class="row">
						<label class="col-3">Name:</label>
						<div class="col-9">
							<b>{{ user.name }} </b>
						</div>
					</div>
					<div class="row">
						<label class="col-3">Designation:</label>
						<div class="col-9">
							<b> {{ user.currentDesignation }} </b>
						</div>
					</div>
					<div class="row">
						<label class="col-3">Department:</label>
						<div class="col-9">
							<b> {{ user.currentDept }} </b>
						</div>
					</div>
					<div class="row">
						<label class="col-3">Type:</label>
						<div class="col-9">
							<b> {{ user.currentType }} </b>
						</div>
					</div>
					<div class="row">
						<label class="col-3">Attendance:</label>
						{% if user.inOutStatus %}
							<span class="capsule green-back">In</span>
						{% else %}
							<span class="capsule red-back">Out</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
{% else %}
	<div class="row box">
		Please <a href="/login">login</a> to continue
	</div>
{% endif %}

{% endblock %}
