{% extends "base.html" %}
{% block title %}| Attendance {% endblock %}
{% block content %}

{% if user %}
<!-- year box -->
<div class="row-simple">
	<div class="col-4"></div>
	<form class="col-4">
		<div class="row-simple box">
			<label class="col-4">Year</label>
			<select class="col-4" name="year" onchange="this.form.submit()">
				{% for yr in years %}
					{% if yr == year %}
						<option selected="selected" value="{{ yr }}">{{ yr }}</option>
					{% else %}
						<option value="{{ yr }}">{{ yr }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<div class="col-4"></div>
		</div>
	</form>

	<div class="col-4 text-right"><a href="advance/">Apply for advance leaves</a></div>
</div>
<!-- errors -->
{% if errors %}
	<div class="row box">
		<span class="row-item red">{{ errors.0 }}</span>
	</div>
	{% endif %}
<div class="row">
	<!-- absent box -->
	<div class="col-5 simple-container">
		<div class="row-simple">
			<div class="col-12 text-center theme-color font-x-large"><b>Absents</b></div>
		</div>
		{% if user %}
		<!-- leave type selection -->
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="year" value="{{ year }}" />
			<div class="row-simple box">
				<select name="leaveType" class="col-8">
					<option value="0">--Select Type--</option>
					{% for lt in leaveTypes %}
						{% if selected_lt %}
							{% if lt.pk == selected_lt %}
								<option selected="selected" value="{{ lt.pk }}">{{ lt.name }}</option>
							{% else %}
								<option value="{{ lt.pk }}">{{ lt.name }}</option>
							{% endif %}
						{% else %}
							<option value="{{ lt.pk }}">{{ lt.name }}</option>
						{% endif %}
					{% endfor %}
					<input class="col-4" type="submit" name="submit" value="Apply" />
				</select>
			</div>
			<!-- absents list -->
			{% for absent, desc in absents %}
			<div class="row-simple box">
				<div class="col-12">
					<div class="row-simple">
						{% if selected_absents %}
							{% if absent.date|date:"Y-m-d" in selected_absents %}
								<input type="checkbox" checked="checked" name="absents" value="{{absent.date|date:"Y-m-d"}}" />
							{% else %}
								<input type="checkbox" name="absents" value="{{absent.date|date:"Y-m-d"}}" />
							{% endif %}
						{% else %}
							<input type="checkbox" name="absents" value="{{absent.date|date:"Y-m-d"}}" />
						{% endif %}
						<div class="col-3"><b>{{ absent.date|date:"Y-m-d" }}</b></div>
						<!-- print the Day -->
						<span class="col-8 text-right gray font-small"><i>{{ absent.date|date:"l" }}</i></span>
					</div>
					<div class="row-simple">
						<textarea rows="2" placeholder="Description" class="col-12" name="{{ absent.date|date:"Y-m-d" }}">{{ desc }}</textarea>
					</div>
				</div>
			</div>
			{% endfor %}
		</form>
		{%endif%}
	</div>
	<!-- leave box -->
	<div class="col-4 simple-container">
		<div class="row-simple">
			<div class="col-12 text-center theme-color font-x-large"><b>Leaves</b></div>
		</div>
		<form method="post" action="remove/">
			{% csrf_token %}
			<div class="row-simple">
				<input class="col-12" type="submit" value="Remove" />
			</div>
			{% for lv in leaves %}
				<div class="row-simple box">
					<div class="col-12">
						<div class="row-simple">
							<div class="col-6">
								<b>{{ lv.date|date:"Y-m-d" }}</b>
								{% if lv.status == "pending" %}
									<input name="leaves" type="checkbox" value="{{ lv.pk }}" />
								{% endif %}
							</div>
							<div class="col-6 gray font-small text-right">
									<i>{{ lv.date|date:"l" }}</i>
							</div>
						</div>
						<div class="row-simple">
							<div class="col-6 font-small">
								{{ lv.leaveType.name }}
							</div>
							<div class="col-6 text-right">Status:
								<i>
									{% if lv.status == "approved" %}
										<span class="col-12 capsule green-back">
											{{ lv.nice_status }}
										</span>
									{%endif%}
									{% if lv.status == "pending" %}
										<span class="col-12 capsule orange-back">
											{{ lv.nice_status }}
										</span>
									{%endif%}
									{% if lv.status == "rejected" %}
										<span class="col-12 capsule red-back">
											{{ lv.nice_status }}
										</span>
									{%endif%}
								</i>
							</div>
						</div>
						<div class="row-plain">
							<div class="font-x-small text-center col-12 gray">Description</div>
						</div>
						<div class="line light-gray-back"></div>
						<div class="row-plain">
							<div class="col-12 font-x-small gray">
								<i>{{ lv.description }}</i>
							</div>
						</div>
						{% if lv.remarks %}
							<div class="row-plain">
								<div class="font-x-small gray text-center col-12">Remarks</div>
							</div>
							<div class="line light-gray-back"></div>
							<div class="row-plain">
								<div class="col-12 font-x-small gray">
									<i>{{ lv.remarks }}</i>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</form>
	</div>
	<!-- availabe leave box -->
	<div class="col-3 simple-container">
		<div class="row-simple">
			<div class="col-12 text-center theme-color font-x-large"><b>Availed</b></div>
		</div>
		{% for lt in leaveTypes %}
		<div class="row-simple box">
			<div class="col-12">
				<div class="row-simple">
					<div class="col-6">{{ lt.name }}</div>
					{% if lt.onceOnly %}
					<div class="col-6 text-right gray font-small">
						<i>Once Only</i>
					</div>
					{% endif %}
				</div>
				<div class="row-simple">
					<div class="col-12 text-center">
							<!-- custom tag availedLeaves -->
							{% load tags %}
							{% availedLeaves user lt.name year %} of {{ lt.quota }}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
