{% extends "base.html" %}
{% block title %}| Attendance {% endblock %}
{% block content %}

<div class="row">
	<div class="col-4"></div>
	<form class="col-4 box">
		<div class="row-simple">
			<label class="col-4">Year</label>
			<select class="col-4" name="year" onchange="this.form.submit()">
				{% for yr in years %}
					{% if year == yr %}
						<option selected="selected" value="{{ yr }}">{{ yr }}</option>
					{% else %}
						<option value="{{ yr }}">{{ yr }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<div class="col-4"></div>
		</div>
	</form>
	
	<div class="col-4 text-right"><a href="advance/">Apply for advance leaves</a></div>
</div>

<div class="row">
	<div class="col-5 simple-container">
		<h3 class="text-center">Absents</h3>
		{% if user %}
		<form method="post">
			{% csrf_token %}
			<div class="row box">
				<select name="leaveType" class="col-8">
					<option value="0">--Select Type--</option>
					{% for lt in leaveTypes %}
						<option value="{{ lt.pk }}">{{ lt.nice_name }}</option>
					{% endfor %}
					<input class="col-4" type="submit" name="submit" value="Apply" />
				</select>
			</div>
			{% for absent in absents %}
			<div class="row-simple box">
				<div class="col-12">
					<div class="row-simple">
						<input type="checkbox" name="absents" value="{{absent.date|date:"Y-m-d"}}" />
						<div class="col-3"><b>{{ absent.date|date:"Y-m-d" }}</b></div>
					</div>
					<div class="row-simple">
						<textarea rows="2" style="resize: none;" placeholder="Description" class="col-12" name="{{ absent.date|date:"Y-m-d" }}"></textarea>
					</div>
				</div>
			</div>
			{% endfor %}
		</form>
		{%endif%}
	</div>
	<div class="col-4 simple-container">
		<h3 class="text-center">Leaves</h3>
		{% for lv in leaves %}
			<div class="row-simple box">
				<div class="col-6 text-center">
					<div class="row-simple row-item">
					<b>{{ lv.date|date:"Y-m-d" }}</b>
					</div>
					<div class="row-simple row-item">
					({{ lv.leaveType.nice_name }})
					</div>
				</div>
				<div class="col-6 text-center">Status:
					{% if lv.status == "approved" %}
						<span class="green">{{ lv.nice_status }}</span>
					{%endif%}
					{% if lv.status == "pending" %}
						<span class="orange">{{ lv.nice_status }}</span>
					{%endif%}
					{% if lv.status == "rejected" %}
						<span class="red">{{ lv.nice_status }}</span>
					{%endif%}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-3 simple-container">
		<h3 class="text-center">Availed Leaves</h3>
		{% for lt in leaveTypes %}
		<div class="row box">
			<div class="col-12">
				<div class="row-simple">
					<div class="col-12">{{ lt.nice_name }}</div>
				</div>
				<div class="row-simple">
					<div class="col-12 text-center">1 of 10</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
