{% extends "base.html" %}
{% block title %} | Leave Approval {% endblock %}
{% block content %}

{% if user %} <!-- add if user.isAdmin -->
<div class="row-simple">
  <div class="col-4 simple-container">
    {% for emp in employees_with_leaves %}
      <div class="row-simple">
        <div class="col-12">
          <div class="row-simple">
            <div class="col-12 theme-color font-large text-center">
              {{ emp.name }}
            </div>
          </div>

          {% for lv in emp.allPendingLeaves %}
            <div class="row-simple">
              <div class="col-12">
                {% if forloop.counter > 1 and not forloop.last %}
                <div class="row-simple">
                  <hr class="col-12" />
                </div>
                {% endif %}
                <div class="row-simple">
                  <div class="col-12">
                    <b>{{ lv.date|date:"Y-m-d" }}</b>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock %}
