<!DOCTYPE html>
<html>
	<head>
		<title>Icicle {% block title %} {% endblock %}</title>
		{% load static %}
	<link href={% static "static/icicle/css/style.css" %} type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row navbar">
				<a href="/home" class="col-3 navbarButton">Home</a>
				<a href="/attendance" class="col-3 navbarButton">Attendance</a>
				<a href="/food" class="col-3 navbarButton">Food</a>
				<a href="/logout" class="col-3 navbarButton">Logout</a>
			</div>
			{% block content %} {% endblock %}
		</div>
	</body>
</html>